@import url('https://fonts.googleapis.com/css?family=Nanum+Brush+Script');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
/*@import	'jquery.fancybox.min.css';*/
@import 'galeria.css';


#navbar{
	background-color: #fff!important;
	padding: 1.5%;
}
.container-fluid{
	padding: 0!important;
}
.slider1, .slider2{
	background: url('../img/slider1.png') center no-repeat;
	height: 500px;
	/*font-family: 'Pacifico', cursive;*/
	font-family: 'Nanum Brush Script', cursive;

}
.legendaSlider{
	background: rgba(0,0,0,0.5);
	color: #fff;
	height: 500px;
}
h4{
	font-family: 'Nanum Brush Script', cursive;

}
.bx-wrapper{
	margin-bottom: 0px!important;
}

.slider h1{
	padding-top:170px;

}

#theMenuBackground{
	background: url('../img/menuUnderSlider.png') no-repeat;
	color: #fff;
	height: 155px;
	width: 155px;
}
/*lista de refericoes*/
#categorias, .cor{
	color: #f34949!important;
}
.nav-link.active{
	color: #f34949!important;
}
.row a{
	text-decoration: none;
	color: #343434;
}
footer ul li a:hover{
	color: #f34949;
}
/*.row a:hover{
	text-decoration: underline;
	color: #f34949;
}*/
/*Span linhas no slider e no titulo da galeria*/
.slider span,span.lineG  {
  overflow: hidden;
  text-align: center;
}

.slider span:before,
.slider span:after {
  background-color: #fff;
  content: "";
  opacity: 0.9%;
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 5%;
}
span.lineG:after {
  background-color: #000;
  opacity: 0.5;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 77%;
}

span:before {
  right: 0.5em;
  margin-left: -50%;
}

span:after {
  left: 0.5em;
  margin-right: -50%;
}
span.lineG:after {
  left: 0.3em;
  margin-right: -80%;
}
/*Span*/
.card{
	border: 0px solid rgba(0,0,0,.125);
    border-radius: 1.25rem;
    transition: .2s;
    margin-top: 2%;
}
.move .card:hover{
	transform: scale(1.04); 
}
#LoginPageForm .card{
	border: 1px solid rgba(0,0,0,.125);
    border-radius: 1.25rem;
}
.preco {
	padding-left: 0;
} 

/*Botão*/
#vermais{
	padding: 0% 3%;
	border-radius: 12px;
	color: #343434;
	border-color: #f34949!important;
	/*transition: .1s;*/
}
#vermais:hover{
	color: #fff;
	border-color: #f34949!important;
	background: #f34949!important;
	/*transform: scale(1.04); */
}
/*/Botão*/

/*Galeria*/
.serif{
	padding: 3%;
	padding-left: 0;
	font-family: 'Roboto Slab', serif;

}

/* /Galeria*/

/*Cardapio*/
.form-inline .form-gruop input{
	/*padding: 4%;*/
}
/*Cardapio*/

footer{
	background: #3b3b3b;
	padding: 3%;
	margin-top: 3%;
	color: #fff;
}
footer .container ul{
	list-style-type: none;
}
footer .container ul a{
	color: #fff;
	font-weight: bold;
}

#logo a{
	font-family: 'Hind', sans-serif;
}
.md-22{font-size: 22px;}
.iml{margin-left: 2%; vertical-align: middle;}

/*font-family: 'Hind', sans-serif;*/
@media only screen and (min-width: 200px) and (max-width: 400px){
	/*.slider1{
		height: 400px;
		background-size: 200%;
	}*/
	.slider1 h1, .slider2 h1{
	padding-top:116px;
	font-size: 3.8rem;
	}
	#img1 li a img{
		max-width: 100%;
		margin-right: auto;
		margin-left: auto; 
		
	}
}
@media only screen and (min-width: 400px) and (max-width: 480px){
	.slider1{
		height: 400px;
		background-size: 200%;
	}
	.slider1 h1, .slider2 h1{
	padding-top:110px;
	font-size: 4.5rem;
	}
	#img1 li a img{
		max-width: 100%;
		margin-right: auto;
		margin-left: auto; 
		
	}

}

/*Banner para altas resoluuções*/
@media only screen and (min-width:1440px) {
	.slider1, .slider2{
		background-size: 100%
	}
}


